<li>
    <div class="user-view">
        <div class="background">
            <img id="navbg" src="img/bg.jpg" alt="background">
        </div>
        <img id="logo" class="logo circle" src="img/icons/icon-512x512.png" alt="football-crack-logo">
        <span class="black-text name center-align">Football Crack</span>
    </div>
</li>
<li><a class="black-text" href="#home">Home</a></li>
<li><a class="black-text" href="#competitions">Competitions</a></li>
<li><a class="black-text" href="#standings">Standings</a></li>
<li><a class="black-text" href="#matches">Matches</a></li>
<li>
    <div class="divider"></div>
</li>
<li><a class="black-text" href="#saved">Saved</a></li>